/*******************************************************************************/
/****************************** body & content *********************************/
body{
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
}

#content{
    align-items: center;
    width: 320px;
    height: 570px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    align-content: center;
}

/*******************************************************************************/
/******************************** header ***************************************/
#header{
    width: 320px;
    height: 35px;
    align-content: center;
}

#header #circle{
    border: 1px solid black;
    margin-top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 150px;
}

#header #rectangle{
    border: 1px solid black;
    margin-top: 5px;
    width: 100px;
    height: 10px;
    border-radius: 20px;
    margin-left: 100px;
}



/*******************************************************************************/
/******************************** screen ***************************************/
#screen{
    width: 300px;
    height: 450px;
    margin: 10px;
    border: 1px solid black;
}



/*******************************************************************************/
/********************************* bar *****************************************/
#bar{
    width: 300px;
    height: 30px;
    background-color: black;
    padding-top: 5px;
}

#bar img{
    width: 23px;
    height: 20px;
}

#bar #bar_left{
    display: inline;
    float: left;
    margin-left: 5px;
}

#bar #bar_center{
    display: inline-block;
}

#bar #bar_center img{
    width: 33px;
    height: 25px;
}

#bar #bar_right{
    display: inline;
    float: right;
    margin-right: 5px;
}



/*******************************************************************************/
/****************************** desktop_apps ***********************************/
#desktop_apps{
    width: 300px;
    height: 300px;
}

.app{
    display: inline-grid;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    width: 60px;
    height: 60px;
}

.app img{
    width: 30px;
    height: 30px;
    text-align: center;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.app p{
    margin-top: 0;
}

/*******************************************************************************/
/********************************* sweep ***************************************/
#sweep{
    width: 300px;
    height: 30px;
}

#sweep img{
    width: 15px;
    height: 15px;
}

#sweep .sweep_button{
    width: 10px;
    height: 10px;
    border: 2px solid black;
    border-radius: 20px;
    display: inline-block;
}

#sweep .sweep_button:hover{
    background-color: black;
}

/*******************************************************************************/
/******************************** static_apps **********************************/
#static_apps{
    width: 300px;
    height: 80px;
}


/*******************************************************************************/
/********************************** footer *************************************/
#footer{
    width: 320px;
    height: 80px;
    margin-left: 120px;
}


#footer #outer_border{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


#footer #inner_border{
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 20%;
    margin-top: 10px;
    margin-left: 10px;
}









